.search-container {
    padding: 20px;
    background-color: #f9f9f9;
}

.search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.search-results {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.search-card {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: calc(33.333% - 20px);
    display: flex;
    flex-direction: column;
}

.search-card:hover {
    transform: translateY(-5px);
}

.search-card-img {
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.search-card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.search-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.search-card-category {
    font-size: 1rem;
    color: #6c757d;
    margin-bottom: 10px;
}

.search-card-price {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.search-add-to-cart-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 1rem;
    margin-top: auto;
    transition: background-color 0.3s ease;
}

.search-add-to-cart-btn:hover {
    background-color: #0056b3;
}
